<div class="container customercare">
<div class="row">
    <div class="col-lg-3"> </div>
     <div class="col-lg-6">
         <h3 class="look">VISIT US AT OUR STORE</h3>
<h3 class="look">Address:</h3>
<address class="custPar">
  4565 High Street<br>
  San Francisco, CA 947603<br>
</address>
<h3 class="look">Opening Hours</h3>
<address class="custPar">
  Mon-Thu: 10:00am - 7:00pm<br>
  Friday: 9:00am - 9:00pm<br>
  Saturday: 9:00am - 5:00pm<br>
  Sunday: Closed<br>
</address>
<h3 class="look">ABOUT US</h3>
<p class="custPar">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>