<div class="container customercare">
    <h3 class="look">YOUR NEW LOOK</h3>
    
</div>
  <div class="container customarecare">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <img src="images/K00VpzEDzJE.jpg" class="imageProduct" id="firstImage">

                <img src="images/Europe-Trendy-Pearl-Tassels-font-b-Crown-b-font-Headbands-Fashion-women-Gold-Plating-Hair-Jewelry.jpg" class="imageProduct" id="secondImage">

                <img src="images/bijuterias-moda-2012-10.jpg" class="imageProduct" id="thirdImage">

            </div>
            <div class="col-lg-1"></div>
</div>
      </div>