<div ng-controller="myCtrl">
<div class="row">
<div class="col-xs-offset-8 col-xs-4">
    <h3>My Cart<span></span></h3>
        
      <ngcart-summary></ngcart-summary>
    </div>
<div class="container customercare">
    <h3 class="look">NEW COLLECTION</h3> </div>


    </div>
    <hr />
 <div class="container">
<div class="row">
    <div class="col-xs-6 col-sm-3">
         <div ng-controller="StoreController as store">
              <ul ng-repeat="product in store.products" class="col-sm-3 listOfProducts"> 
                 <li>
                    <img ng-src="{{product.images[0].full}}" class="img" /> 
                 </li>
        <ngcart-addtocart id="item1" name="{{product.name}}" price="{{product.price | currency}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>

  
 <li>
                    <img ng-src="{{product.images[0].full}}" class="img" /> 
                    
       
                 </li>
        <ngcart-addtocart id="item2" name="{{product.name}} " price="{{product.price | currency}} " quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
    

        
        <ngcart-addtocart id="item3" name="{{product.price | currency}}" price="{{product.price | currency}} " quantity="3" quantity-max="10">Add to Cart</ngcart-addtocart>
    </div>
 
        <li>
                    <img ng-src="{{product.images[0].full}}" class="img" /> 
                    
                 </li>
        <ngcart-addtocart id="item4" name="{{product.name}" price="{{product.price | currency}}" quantity="1" quantity-max="10">Add to Cart</ngcart-addtocart>   
         </ul>
            </div>
    </div>
    </div>
</div>
