 <div ng-controller="myCtrl">
  <div class="container">
    <div class="row">
         <div class="col-md-4 backtoshop">
             <a href="#/shop_landing">Back to shop</a></div>
    </div>
 </div>
    <hr/>
    <div class="container">
     <div class="container customercare">
        <h3 class="look">HOT SUMMER</h3>
        </div>
          <div class="container">
         <p class="lookbookPar">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p></div>
        <div ng-controller="StoreController as store">
            <div ng-repeat="chunk in store.items" class="row">
                <div ng-repeat="item in chunk" class="col-sm-3 chunk">
                   <a href="#/product/{{item.sku}}"><img class="img-responsive" ng-src="{{item.images[0].thumbnail}}"  class="Image" /></a>
                    <a href="#/product/{{item.sku}}"><h4 class="name">{{item.name}}</h4></a>
                    <p>{{item.price | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>