<div class="container customercare">
    <h2 class="text-center titleName">Biju For You</h2></div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="#/shop_valerie"> <img class="img-responsive opacity" src="images/valerie1.jpg" id="image">
                <h2 class="banner-title h2shop" id="titleShop">Valerie</h2>
                <p class="banner-description h2shop" id="text">Be a charming lady of this evening</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#/shop_rocknroll"><img class="img-responsive opacity" src="images/rock_n_roll1.jpg" id="image">
                <h2 class="banner-title h2shop" id="titleShop">Rock it!</h2>
                <p class="banner-description h2shop" id="text">The heart of rock'n'roll princess</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#/shop_summer"> <img class="img-responsive opacity" src="images/summer_soon1.jpg" id="image">
                <h2 class="banner-title h2shop" id="titleShop">Hot Summer</h2>
                <p class="banner-description h2shop" id="text">Enjoy summer days with summer collection</p>
            </a>
        </div>
    </div>
</div>