 <div ng-controller="myCtrl">
  <div class="container">
    <div class="row">
         <div class="col-md-4 backtoshop">
             <a href="#/shop_landing">Back to shop</a></div>
    </div>
 </div>
    <hr/>
    <div class="container">
     <div class="container customercare">
        <h3 class="look">ROCK'N'ROLL</h3> </div>
        <div ng-controller="StoreController as store">
            <div ng-repeat="chunk in store.items" class="row">
                <div ng-repeat="item in chunk" class="col-sm-3 chunk">
                   <a href="#/product/{{item.sku}}"><img ng-src="{{item.images[0].thumbnail}}"  class="Image" /></a>
                    <a href="#/product/{{item.sku}}"><h4 class="name">{{item.name}}</h4></a>
                    <p>{{item.price | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>