<div class="container">
    <h2 class="text-center titleName">Biju For You</h2></div>
    <div class="container">
     <div class="row">
         <div class="col-lg-4">   
                 <a href="#/shop_valerie"> <img src="images/valerie1.jpg" class="opacity" id="image">
             </a>
            <a href="#/shop_valerie">  <h2  class="h2shop" id="text">New Collection "VALERIE"</h2>  </a>
        </div>
 <div class="col-lg-4"> 
 <a href="#/shop_rocknroll"> <img src="images/rock_n_roll1.jpg" class="opacity"> </a>  
     <a href="#/shop_valerie">  <h2  class="h2shop" id="text">Rock it!</h2>  </a>
</div>
   
<div class="col-lg-4"> 
  <a href="#/shop_summer"><img src="images/summer_soon1.jpg" class="opacity"> </a>  
    <a href="#/shop_valerie">  <h2  class="h2shop" id="text">Hot Summer</h2>  </a>
     </div>
    </div>
</div> 