<div class="container customercare">
    <h2 class="text-center titleName">Biju For You</h2></div>
    <div class="container">
     <div class="row">
          <div class="col-lg-4"> 
               <div class="bannner-content center">
<picture> 
   <a href="#/shop_valerie">  <img src="images/valerie1.jpg" class="banner-image opacity" id="image">
   
         </picture>         
<div class="banner-mapping center">
    <div class="banner-body">
        <h2 class="banner-title h2shop" id="titleShop">Valerie</h2>
        <p class="banner-description h2shop" id="text">Be a charming lady of this evening</p> 
    </div>
         </div> 
         </a>
         
         </div>  
       </div> 
 <div class="col-lg-4"> 
               <div class="bannner-content center">
<picture> 
   <a href="#/shop_rocknroll"><img src="images/rock_n_roll1.jpg" class="banner-image opacity" id="image">
         </picture>         
<div class="banner-mapping center">
    <div class="banner-body">
        <h2 class="banner-title h2shop" id="titleShop">Rock it!</h2>
        <p class="banner-description h2shop" id="text">The heart of rock'n'roll princess</p> 
    </div>
         </div> 
         </a>
         
         </div>  
       </div> 
   
           <div class="col-lg-4"> 
               <div class="bannner-content center">
<picture> 
   <a href="#/shop_summer"> <img src="images/summer_soon1.jpg" class="banner-image opacity" id="image">
         </picture>         
<div class="banner-mapping center">
    <div class="banner-body">
        <h2 class="banner-title h2shop" id="titleShop">Hot Summer</h2>
        <p class="banner-description h2shop" id="text">Enjoy summer days with summer collection</p> 
    </div>
         </div> 
         </a>
         
         </div>  
       </div> 
         
         
    </div>
</div> 